.sidebar
  position: fixed
  top: 0
  bottom: 0
  left: 0
  z-index: 100
  padding: 54px 0 0
  background-color: $offwhite-d
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1)

.sidebar-sticky
  position: relative
  top: 0
  height: calc(100vh - 48px)
  padding-top: .5rem
  overflow-x: hidden
  overflow-y: auto

.navbar-brand
  padding-top: .75rem
  padding-bottom: .75rem
  font-size: 1rem
  background-color: $purple
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25)

.navbar-icons .nav-item
  position: absolute
  top: 12px
  height: 50px
  width: 50px
  background-color: $orange
  transition: background-color .2s
  border-radius: 50%
  padding: 10px
  &:hover
    background-color: darken($orange, 10%)
  svg
    max-width: 100%
    max-height: 100%
    path
      fill: $offwhite-d

  &.ni-1
    right: 180px
  &.ni-2
    right: 115px
  &.ni-3
    right: 50px

.nav
  margin-left: 10px
  margin-right: 10px
  .nav-link
    padding: 8px 4px
  .nav-item
    border-radius: 6px
    transition: background-color .2s
    &.primary
      position: relative
      margin-top: 20px
      &.humans:after
        background-image: url('icons/globe-2.svg')
      &.courses:after
        background-image: url('icons/book-closed.svg')
      &:after
        content: ''
        position: absolute
        right: -20px
        top: 10px
        background-repeat: no-repeat
        background-position: center
        background-size: contain
        height: 60px
        width: 60px
        opacity: .1
        transform: rotate(-35deg)
    &.primary a:before
      content: '::'
      color: $emerald
      width: 13px
      display: inline-block
    &.secondary
      margin-left: 13px
      &.add a:before
        content: '+'
        color: $emerald
        width: 20px
        display: inline-block
      &.exclamation a:before
        content: '!'
        color: $emerald
        width: 20px
        display: inline-block
    &:hover
      background-color: darken($offwhite-d, 5%)
.nav.logout
  position: absolute
  width: 100%
  bottom: 20px
  margin: 0
  border-top: 1px solid lighten($purple, 40%)
  .nav-item
    margin: 10px 10px 0
    border-radius: 0
.nav.admin
  position: relative
  border-top: 1px solid lighten($purple, 40%)
  margin-top: 40px
  padding-top: 10px
  &:before
    content: 'admin-navigation'
    font-size: 12px
    position: absolute
    top: -18px
    right: 20px
